@using Newtonsoft.Json
@using SFA.DAS.AssessorService.Domain.JsonData
@using SFA.DAS.AssessorService.Domain.Consts

@model SFA.DAS.AdminService.Web.Controllers.DuplicateRequestViewModel

@{
    ViewBag.Title = "Re-print certificate";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Search">Search again</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Re-print certificate</h1>

            @if (!Model.CanRequestDuplicate)
            {
                <p class="govuk-body-l">Certificate is in an invalid status to request a reprint.</p>
            }
            else if (!Model.IsConfirmed)
            {
                <p class="govuk-body-l">Request a duplicate print of the following certificate:</p>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CertificateReference
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.FullName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ULN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Uln
                        </dd>
                    </div>
                </dl>

                <form asp-action="Index" asp-controller="DuplicateRequest" method="post">
                    @Html.HiddenFor(m => m.CertificateId)
                    @Html.HiddenFor(m => m.SearchString)
                    <button class="govuk-button">Confirm reprint</button>
                </form>
                <form asp-action="Check" asp-controller="CertificateAmend" method="get">
                    @Html.Hidden("certificateId", Model.CertificateId, new { @id = "certificateId" })
                    @Html.Hidden("searchString", Model.SearchString, new { @id = "searchString" })
                    <button class="govuk-button govuk-button--secondary">Amend before reprint</button>
                </form>
            }
            else
            {
                <p class="govuk-body-l">Certificate reprint requested.</p>
                <p class="govuk-body">The reprint will be processed in the next print run scheduled for @Model.NextBatchDate</p>
            }
        </div>
    </div>
</main>