@using SFA.DAS.AssessorService.Domain.Consts;
@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.ApplicationSequenceAssessmentViewModel;

@{
    ViewBag.Title = "Assessment summary";
}

<a 
   class="govuk-back-link" 
   asp-controller="Application" 
   asp-action="ActiveSequence" 
   asp-route-applicationId="@Model.ApplicationId" 
   asp-route-backAction="@Model.BackAction" 
   asp-route-backController="@Model.BackController" 
   asp-route-backOrganisationId="@Model.BackOrganisationId">
    Back
</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Assessment summary</h1>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="ReturnType"></a></li>
                    </ul>
                </div>
            }
            
            <div class="form-group">
                <form class="js-disable-on-submit" asp-controller="Application" asp-action="Return" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNo="@Model.SequenceNo" asp-route-backAction="@Model.BackAction" asp-route-backController="@Model.BackController" asp-route-backOrganisationId="@Model.BackOrganisationId">
                    @if (!Model.HasNewFeedback)
                    {
                        @if (Model.SequenceNo == ApplyConst.ORGANISATION_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to approve the first stage of this application. This means that the applicant will be able to apply for a standard. You are also satisfied with the information the applicant has provided so far, and require no further information.</p>

                            @if (Model.HasInadequateFhaButNoFeedbackGiven)
                            {
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Warning</span>
                                        You have overridden an inadequate Financial health assessment.
                                    </strong>
                                </div>
                            }
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to approve the second stage of this application. You are also satisfied with the information the applicant has provided so far, and require no further information.</p>
                        }
                        else if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to approve the organisation to be withdrawn from the register. You are also satisfied with the information the applicant has provided so far, and require no further information.</p>
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to approve the stadard to be withdrawn from the register. You are also satisfied with the information the applicant has provided so far, and require no further information.</p>
                        }

                        <input type="hidden" asp-for="ReturnType" value="Approve" />
                        <button class="govuk-button" type="submit">Approve application</button>
                    }
                    else
                    {
                        @if (Model.SequenceNo == ApplyConst.ORGANISATION_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to send back the first stage of this application. This means that the applicant will have to action any comments and resubmit.</p>
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to send back the second stage of this application. This means that the applicant will have to action any comments and resubmit.</p>
                        }
                        else if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to send back this organisation withdrawal application. This means that the applicant will have to action any comments and resubmit.</p>
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <p class="govuk-body">You are about to send back this standard withdrawal application. This means that the applicant will have to action any comments and resubmit.</p>
                        }

                        <p class="govuk-body">Before returning your assessment back to the applicant, review the comments that you added.</p>

                        @foreach (var applicationSection in Model.Sections.OrderBy(s => s.SectionNo))
                        {

                            <h2 class="govuk-heading-l">@applicationSection.LinkTitle</h2>
                            @if (!applicationSection.QnAData.Pages.Any(p => p.HasNewFeedback))
                            {
                                <p class="govuk-body">No comments.</p>
                            }
                            else
                            {
                                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                    @foreach (var pageWithNewFeedback in applicationSection.QnAData.Pages.Where(p => p.HasNewFeedback))
                                    {
                                        @foreach (var newPageFeedback in pageWithNewFeedback.Feedback.Where(f => f.IsNew))
                                        {
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    @pageWithNewFeedback.LinkTitle
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    @newPageFeedback.Message
                                                </dd>
                                            </div>
                                        }
                                    }
                                </dl>
                            }
                        }

                        <input type="hidden" asp-for="ReturnType" value="ReturnWithFeedback" />
                        <button class="govuk-button" type="submit">Return application</button>
                    }
                </form>
            </div>

            <p class="govuk-body">
                <a 
                   class="govuk-link"
                   asp-controller="Application" 
                   asp-action="ActiveSequence" 
                   asp-route-applicationId="@Model.ApplicationId" 
                   asp-route-backAction="@Model.BackAction" 
                   asp-route-backController="@Model.BackController" 
                   asp-route-backOrganisationId="@Model.BackOrganisationId">
                Return to application overview
                </a>
            </p>
        </div>
    </div>
</main>