@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.Domain.Apply;
@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.ApplicationReturnedViewModel

@{
    ViewBag.Title = Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO
        ? Model.ReturnType == ReturnTypes.ReturnWithFeedback
            ? "You've asked for more information"
            : "You've approved this withdrawal notification"
        : Model.WarningMessages.Any()
            ? "Issue during approval"
            : "Feedback sent";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    @ViewBag.Title
                </h1>
            </div>

            @if (Model.WarningMessages.Any())
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem with approving the application
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var warningMessage in Model.WarningMessages)
                            {
                                <li>@warningMessage</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <p class="govuk-body">
                    @if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                    {
                        if (Model.ReturnType == ReturnTypes.ReturnWithFeedback)
                        {
                            <text>We've sent an email to the applicant.</text>
                        }
                        else if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <text>You've approved this organisation to withdraw from the register of end-point assessment organisations.</text>
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <text>You've approved this organisation to withdraw from assessing @Model.StandardDescription.</text>
                        }
                    }
                    else
                    {
                        <text>An email has been sent to the applicant.</text>
                    }
                </p>
            }

            <h2 class="govuk-heading-m">
                @if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                {
                    <text>What happens next</text>
                }
                else
                {
                    <text>What do you want to do next?</text>
                }
            </h2>
            @if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
            {
                if (Model.ReturnType == ReturnTypes.ReturnWithFeedback)
                {
                    <p class="govuk-body">The applicant will clarify and resubmit their withdrawal. Once they resubmit, you'll need to review their updated answers.</p>
                    <p class="govuk-body">We'll show the resubmitted withdrawal in the 'Feedback' tab with the status 'Feedback received'.</p>
                }
                else
                {                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>We've sent an email to the applicant confirming this approval.</li>
                        @if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                        {
                            <li>You'll need to manually remove this organisation from the register of end-point assessment organisations.</li>
                        }
                        else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                        {                        
                            <li>You'll need to manually remove this organisation from assessing @Model.StandardDescription.</li>
                        }
                        
                    </ul>
                }
            }

            <p class="govuk-body">
                @{
                    string fragment = Model.ReturnType == ReturnTypes.Approve
                        ? "approved"
                        : "feedback";
                }
                <a class="govuk-link" asp-action="@Model.BackAction" asp-controller="@Model.BackController" asp-fragment="@fragment" asp-route-organisationId="@Model.BackOrganisationId">
                    @if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                    {
                        <text>Return to withdrawal applications</text>
                    }
                    else
                    {
                        <text>Return to applications</text>
                    }
                </a>
            </p>
            @if (Model.ReturnType == ReturnTypes.ReturnWithFeedback || (Model.SequenceNo != ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO && Model.SequenceNo != ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO))
            {
                <p class="govuk-body">
                    <a class="govuk-link" target="_blank" href="https://www.surveymonkey.co.uk/r/P8YBH9J">What do you think of this service?</a> (takes 30 seconds)
                </p>
            }
        </div>
    </div>
</main>