@using SFA.DAS.AssessorService.ApplyTypes;
@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.Helpers;
@using SFA.DAS.AdminService.Common.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.SequenceViewModel

@{
    ViewBag.Title = "Check the withdrawal date";
    var Fragment = ApplicationReviewHelpers.ApplicationFragment("");   // Model.ReviewStatus
}

<a class="govuk-back-link"
   asp-action="@Model.BackAction"
   asp-controller="@Model.BackController"
   asp-route-organisationId="@Model.BackOrganisationId"
   asp-fragment="@Fragment">Back</a>

<div class="govuk-grid-row marginal">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="WithdrawalDate"></a></li>
                </ul>
            </div>
        </div>
    }

    <div class="govuk-grid-row marginal">
        <div class="govuk-grid-column-two-thirds">
            <form class="js-disable-on-submit"
                  asp-controller="Application"
                  asp-action="WithdrawalDateChange"
                  asp-route-applicationId="@Model.ApplicationId"
                  asp-route-sequenceNo="@Model.SequenceNo"
                  asp-route-backAction="@Model.BackAction"
                  asp-route-backController="@Model.BackController"
                  asp-route-backOrganisationId="@Model.BackOrganisationId">
                <h1 class="govuk-heading-xl">What is the actual withdrawal date?</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation name</dt>
                        <dd class="govuk-summary-list__value">@Model.OrganisationName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Details</dt>
                        <dd class="govuk-summary-list__value">Withdrawal from register</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Requested withdrawal date</dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.WithdrawalDate.HasValue)
                            {
                                @Model.WithdrawalDate.Value.ToString("dd/MM/yyyy");
                            }
                        </dd>
                    </div>

                </dl>



                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Actual withdrawal date
                </legend>
                <div id="passport-issued-hint" class="govuk-hint">
                    For example, 27 3 2021
                </div>
                <div class="govuk-date-input">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveFromDay">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveFromDay" name="EffectiveFromDay" value="">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveFromMonth">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveFromMonth" name="EffectiveFromMonth" value="">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveFromYear">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" type="text" maxlength="4" id="EffectiveFromYear" name="EffectiveFromYear" value="">
                        </div>
                    </div>
                </div>

                <br><br>




                <div class="govuk-button-group">






                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>



                </div>
            </form>
        </div>
    </div>

</div>