@using SFA.DAS.AssessorService.ApplyTypes;
@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.Helpers;
@using SFA.DAS.AdminService.Common.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.SequenceViewModel

@{
    ViewBag.Title = "Check the withdrawal date";
    var Fragment = ApplicationReviewHelpers.ApplicationFragment(Model.ReviewStatus);
}

<a class="govuk-back-link"
   asp-action="@Model.BackAction"
   asp-controller="@Model.BackController"
   asp-route-organisationId="@Model.BackOrganisationId"
   asp-fragment="@Fragment">Back</a>

<div class="govuk-grid-row marginal">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="WithdrawalDate"></a></li>
                </ul>
            </div>
        </div>
    }


    <div class="govuk-grid-column-two-thirds">
        <form class="js-disable-on-submit"
              asp-controller="Application"
              asp-action="WithdrawalDateCheck"
              asp-route-applicationId="@Model.ApplicationId"
              asp-route-sequenceNo="@Model.SequenceNo"
              asp-route-backAction="@Model.BackAction"
              asp-route-backController="@Model.BackController"
              asp-route-backOrganisationId="@Model.BackOrganisationId">
            <h1 class="govuk-heading-xl">Check the withdrawal date</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Organisation name</dt>
                    <dd class="govuk-summary-list__value">@Model.OrganisationName</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Details</dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                            {
                                <text>Withdrawal from register</text>
                            }
                            else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                            {
                                var standardWithVersion = Model.StandardName;
                                if (!string.IsNullOrWhiteSpace(Model.StandardVersion))
                                {
                                    standardWithVersion += $"<br> Version {Model.StandardVersion}";
                                }
                                @Html.Raw(standardWithVersion)
                            }
                        }
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Requested withdrawal date</dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.WithdrawalDate.HasValue)
                        {
                            @Model.WithdrawalDate.Value.ToString("dd/MM/yyyy");
                        }
                    </dd>
                </div>

            </dl>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                        <h1 class="govuk-fieldset__heading">
                            Do you approve this withdrawal date?
                        </h1>

                    </legend>


                    <div class="govuk-radios govuk-radios--inline">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dateApproved-yes" name="dateApproved" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="dateApproved-yes">
                                Yes
                            </label>

                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dateApproved-no" name="dateApproved" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="dateApproved-no">
                                No, input date manually
                            </label>

                        </div>

                    </div>

                </fieldset>

            </div>

            <div class="govuk-button-group">

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>

                &nbsp;
                <a id="centru" class="govuk-link govuk-link--no-visted-state" href="#">Return to application overview</a>
            </div>
        </form>

    </div>
</div>
