@using SFA.DAS.AssessorService.ApplyTypes;
@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.Helpers;
@using SFA.DAS.AdminService.Common.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.WithdrawalDateCheckViewModel

@{
    ViewBag.Title = "Check the withdrawal date";
    var Fragment = ApplicationReviewHelpers.ApplicationFragment(Model.ReviewStatus);
}

<a class="govuk-back-link"
   asp-action="WithdrawalDateCheck"
   asp-controller="Application"
   asp-route-organisationId="@Model.BackOrganisationId"
   asp-fragment="">Back</a>

<div class="govuk-grid-row marginal">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="RequestedWithdrawalDate"></a></li>
                </ul>
            </div>
        </div>
    }

    <div class="govuk-grid-row marginal">
        <div class="govuk-grid-column-two-thirds">
            <form class="js-disable-on-submit"
                  asp-controller="Application"
                  asp-action="WithdrawalDateChange"
                  asp-route-applicationId="@Model.ApplicationId"
                  asp-route-sequenceNo="@Model.SequenceNo"
                  asp-route-backAction="@Model.BackAction"
                  asp-route-backController="@Model.BackController"
                  asp-route-backOrganisationId="@Model.BackOrganisationId">
                <h1 class="govuk-heading-xl">What is the actual withdrawal date?</h1>

                @{await Html.RenderPartialAsync("_WithdrawalDatePartial", @Model);}

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" id="RequestedWithdrawalDate">
                    Actual withdrawal date
                </legend>
                <div class="govuk-hint">
                    For example, 27 3 2021
                </div>

                <div class="govuk-date-input">

                    <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">

                        <span class="govuk-error-message" asp-validation-for="RequestedWithdrawalDate"></span>

                        <div class="govuk-date-input__item">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveToDay">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToDay" name="EffectiveToDay" value="" sfa-validation-for="RequestedWithdrawalDate">
                        </div>
                        <div class="govuk-date-input__item">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveToMonth">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToMonth" name="EffectiveToMonth" value="" sfa-validation-for="RequestedWithdrawalDate">
                        </div>
                        <div class="govuk-date-input__item">
                            <label class="govuk-label govuk-date-input__label" for="EffectiveToYear">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" type="text" maxlength="4" id="EffectiveToYear" name="EffectiveToYear" value="" sfa-validation-for="RequestedWithdrawalDate">
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="govuk-button-group">

                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </div>
            </form>
        </div>
    </div>

</div>