@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.RoatpGatewayPageViewModel

@{
    var formGroupError = Model.ErrorMessages != null && Model.ErrorMessages.Any() ? "govuk-form-group--error" : "";
    var isErrorFailText = "";
    var noSelectionMessage = "";
    var failTextMessage = "";
    if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
    {
        foreach (var error in Model.ErrorMessages)
        {
            if (error.Field == "OptionPass")
            {
                noSelectionMessage = error.ErrorMessage;
            }

            if (error.Field == "OptionFailText")
            {
                isErrorFailText = "govuk-textarea--error-override";
                failTextMessage = error.ErrorMessage;
            }
        }
    }
}

<div class="govuk-form-group @formGroupError">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                What is the outcome of this check?
            </h2>
        </legend>
        @if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
        {
            @foreach (var error in Model.ErrorMessages)
            {
                @if (error.Field == "OptionPass")
                {
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @error.ErrorMessage
                    </span>
                }
            }
        }
        <div class="govuk-radios govuk-radios--conditional " data-module="radios">
            @{
                var radioCheckedPassed = Model.Status == "Pass" ? "checked" : "";
                var radioCheckedFailed = Model.Status == "Fail" ? "checked" : "";
                var radioCheckedInProgress = Model.Status == "In progress" ? "checked" : "";
                <!-- PASS -->
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           id="OptionPass"
                           name="Status"
                           value="Pass"
                           data-aria-controls="conditional-OptionPass"
                           @radioCheckedPassed />

                    <label class="govuk-label govuk-radios__label" for="OptionPass">
                        Pass
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionPass">
                    <div class="govuk-character-count" data-module="character-count" data-maxwords="150">
                        <div class="govuk-form-group">
                            <label for="OptionPassText" class="govuk-label">
                                Add comments (optional)
                            </label>
                            <textarea class="govuk-textarea js-character-count"
                                      id="OptionPassText"
                                      name="OptionPassText"
                                      rows="5"
                                      maxlength="10000">@Model.OptionPassText</textarea>
                        </div>

                        <span id="word-count-info-OptionPass" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                    </div>
                </div>
                <!-- FAIL -->
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           id="OptionFail"
                           name="Status"
                           value="Fail"
                           data-aria-controls="conditional-OptionFail"
                           @radioCheckedFailed />
                    <label class="govuk-label govuk-radios__label" for="OptionFail">
                        Fail
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionFail">
                    <div class="govuk-character-count" data-module="character-count" data-maxwords="150">
                        <div class="govuk-form-group">
                            <label for="OptionFailText" class="govuk-label">
                                Add comments
                            </label>
                            @if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
                            {
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    @if (error.Field == "OptionFailText")
                                    {
                                        <span class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> @error.ErrorMessage
                                        </span>
                                    }
                                }
                            }
                            <textarea class="govuk-textarea js-character-count @isErrorFailText"
                                      id="OptionFailText"
                                      name="OptionFailText"
                                      rows="5"
                                      maxlength="10000">@Model.OptionFailText</textarea>
                        </div>
                        <span id="word-count-info-OptionFail" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                    </div>
                </div>
                <div class="govuk-radios__divider">or</div>
                <!-- IN PROGRESS -->
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           id="InProgress"
                           name="Status"
                           value="In progress"
                           data-aria-controls="conditional-InProgress"
                           @radioCheckedInProgress />
                    <label class="govuk-label govuk-radios__label" for="InProgress">
                        In progress
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-InProgress">
                    <div class="govuk-character-count" data-module="character-count" data-maxwords="150">
                        <div class="govuk-form-group">
                            <label for="OptionInProgressText" class="govuk-label">
                                Add comments (optional)
                            </label>
                            <textarea class="govuk-textarea js-character-count"
                                      id="OptionInProgressText"
                                      name="OptionInProgressText"
                                      rows="5"
                                      maxlength="10000">@Model.OptionInProgressText</textarea>
                        </div>
                        <span id="word-count-info-InProgress" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</div>