@using SFA.DAS.AdminService.Common.Extensions;
@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.IcoNumberViewModel

@{
    ViewBag.Title = $"Gateway - {Model.Heading}";
    Layout = "_Layout";
}

@{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml"); }
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml"); }
            <span class="govuk-caption-xl">
                @Model.Caption
            </span>
            <h1 class="govuk-heading-xl">@Model.Heading</h1>
            <div class="govuk-!-margin-bottom-4">
                <p class="govuk-body govuk-!-margin-bottom-0">
                    UKPRN: @Model.Ukprn
                </p>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Legal name: @Model.ApplyLegalName
                </p>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Address: @Model.OrganisationAddress
                </p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Source</th>
                        <th class="govuk-table__header" scope="col">ICO registration number</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Submitted application data</td>
                        <td class="govuk-table__cell">@Model.IcoNumber</td>
                        <td class="govuk-table__cell"><a href="https://ico.org.uk/ESDWebPages/Entry/@Model.IcoNumber" target="_blank">Check this ICO registration number</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateIcoNumberPage" asp-controller="RoatpGatewayOrganisationChecks">

                    @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalSection.cshtml"); }
                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
</main>