@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.InitialTeacherTrainingViewModel

@{
    ViewBag.Title = $"Gateway - {@Model.Heading}";
    Layout = "_Layout";
}

@{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml"); }

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml"); }

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>


            <div class="govuk-!-margin-bottom-4">
                @if (Model.Ukprn != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        UKPRN: @Model.Ukprn
                    </p>
                }

                @if (Model.ApplyLegalName != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        Legal name: @Model.ApplyLegalName
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Application question</th>
                        <th class="govuk-table__header" scope="col">Applicant's answer</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Does your organisation offer initial teacher training?</td>
                        <td class="govuk-table__cell">@(Model.DoesOrganisationOfferInitialTeacherTraining ? "Yes" : "No")</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Is the postgraduate teaching apprenticeship the only apprenticeship your organisation intends to deliver?</td>
                        <td class="govuk-table__cell">@(Model.IsPostGradOnlyApprenticeship ? "Yes" : "No")</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateInitialTeacherTrainingPage" asp-controller="RoatpGatewayExperienceAndAccreditation">
                    
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="PageId" />
                    <input type="hidden" asp-for="Caption" />
                    <input type="hidden" asp-for="Heading" />
                    <input type="hidden" asp-for="NoSelectionErrorMessage" />
                    <input type="hidden" asp-for="Ukprn" />
                    <input type="hidden" asp-for="ApplicationSubmittedOn" />
                    <input type="hidden" asp-for="SourcesCheckedOn" />
                    <input type="hidden" asp-for="ApplyLegalName" />
                    <input type="hidden" asp-for="DoesOrganisationOfferInitialTeacherTraining" />
                    <input type="hidden" asp-for="IsPostGradOnlyApprenticeship" />

                    @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalSection.cshtml"); }

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
</main>
