@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.OfstedDetailsViewModel

@{
    ViewBag.Title = $"Gateway - {@Model.Heading}";
    Layout = "_Layout";
}

@{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml"); }

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml"); }

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>


            <div class="govuk-!-margin-bottom-4">
                @if (Model.Ukprn != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        UKPRN: @Model.Ukprn
                    </p>
                }

                @if (Model.ApplyLegalName != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        Legal name: @Model.ApplyLegalName
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Application question</th>
                        <th class="govuk-table__header" scope="col">Applicant's answer</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Has your organisation had a full Ofsted inspection in further education and skills?</td>
                        <td class="govuk-table__cell">@(Model.HasHadFullInspection ? "Yes" : "No")</td>
                    </tr>
                    @if (!Model.HasHadFullInspection)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Has your organisation had a monitoring visit for apprenticeships in further education and skills?</td>
                            <td class="govuk-table__cell">@(Model.HasHadMonitoringVisit ? "Yes" : "No")</td>
                        </tr>
                    }
                    else
                    {

                        @if (Model.ReceivedFullInspectionGradeForApprenticeships)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Did your organisation get a grade for apprenticeships in this full Ofsted inspection?</td>
                                <td class="govuk-table__cell">@(Model.ReceivedFullInspectionGradeForApprenticeships ? "Yes" : "No")</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">What grade did your organisation get for apprenticeships in this full Ofsted inspection?</td>
                                <td class="govuk-table__cell">@Model.FullInspectionApprenticeshipGrade</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">What grade did your organisation get for overall effectiveness in this full Ofsted inspection?</td>
                                <td class="govuk-table__cell">@Model.FullInspectionOverallEffectivenessGrade</td>
                            </tr>
                        }

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Did your organisation get this grade within the last 3 years?</td>
                            <td class="govuk-table__cell">@(Model.GradeWithinTheLast3Years ? "Yes" : "No")</td>
                        </tr>

                        @if (!Model.GradeWithinTheLast3Years)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Has your organisation had a short Ofsted inspection within the last 3 years?</td>
                                <td class="govuk-table__cell">@(Model.HasHadShortInspectionWithinLast3Years ? "Yes" : "No")</td>
                            </tr>

                            @if (Model.HasHadShortInspectionWithinLast3Years)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Has your organisation maintained the grade it got in its full Ofsted inspection in its short Ofsted inspection?</td>
                                    <td class="govuk-table__cell">@(Model.HasMaintainedFullGradeInShortInspection ? "Yes" : "No")</td>
                                </tr>
                            }
                        }

                        @if (Model.GradeWithinTheLast3Years || (!Model.ReceivedFullInspectionGradeForApprenticeships && !Model.GradeWithinTheLast3Years && Model.HasMaintainedFullGradeInShortInspection))
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Has your organisation maintained funding from an education agency since its full Ofsted inspection?</td>
                                <td class="govuk-table__cell">@(Model.HasMaintainedFundingSinceInspection ? "Yes" : "No")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateOfstedDetailsPage" asp-controller="RoatpGatewayExperienceAndAccreditation">
                    <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
                    <input type="hidden" name="PageId" value="@Model.PageId" />
                    <input type="hidden" name="ApplicationSubmittedOn" value="@Model.ApplicationSubmittedOn" />
                    <input type="hidden" name="Ukprn" value="@Model.Ukprn" />
                    <input type="hidden" name="SourcesCheckedOn" value="@Model.SourcesCheckedOn" />
                    <input type="hidden" name="HasHadFullInspection" value="@Model.HasHadFullInspection" />
                    <input type="hidden" name="ReceivedFullInspectionGradeForApprenticeships" value="@Model.ReceivedFullInspectionGradeForApprenticeships" />
                    <input type="hidden" name="FullInspectionOverallEffectivenessGrade" value="@Model.FullInspectionOverallEffectivenessGrade" />
                    <input type="hidden" name="HasHadMonitoringVisit" value="@Model.HasHadMonitoringVisit" />
                    <input type="hidden" name="HasMaintainedFundingSinceInspection" value="@Model.HasMaintainedFundingSinceInspection" />
                    <input type="hidden" name="HasHadShortInspectionWithinLast3Years" value="@Model.HasHadShortInspectionWithinLast3Years" />
                    <input type="hidden" name="HasMaintainedFullGradeInShortInspection" value="@Model.HasMaintainedFullGradeInShortInspection" />
                    <input type="hidden" name="FullInspectionApprenticeshipGrade" value="@Model.FullInspectionApprenticeshipGrade" />
                    <input type="hidden" name="GradeWithinTheLast3Years" value="@Model.GradeWithinTheLast3Years" />

                    @{await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalSection.cshtml"); }

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
</main>
