@using SFA.DAS.AssessorService.ApplyTypes.Roatp
@using SFA.DAS.AdminService.Common.Extensions;
@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.OrganisationCriminalCompliancePageViewModel

@{
    ViewBag.Title = $"Gateway - {Model.Heading}";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml"); }
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{ await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml"); }
            <span class="govuk-caption-xl">@Model.Caption</span>
            <h1 class="govuk-heading-xl">@Model.Heading</h1>
            <div class="govuk-!-margin-bottom-4">
                @if (Model.Ukprn != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        UKPRN: @Model.Ukprn
                    </p>
                }
                @if (Model.ApplyLegalName != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        Legal name: @Model.ApplyLegalName
                    </p>
                }
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-9">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Application question</td>
                        <td class="govuk-table__cell">@Model.QuestionText</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Applicant's answer</td>
                        <td class="govuk-table__cell">@Model.ComplianceCheckAnswer</td>
                    </tr>
                    @if (!String.IsNullOrWhiteSpace(Model.FurtherInformationAnswer))
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">Applicant's detailed answer</td>
                            <td class="govuk-table__cell">@Model.FurtherInformationAnswer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateCriminalCompliancePage" asp-controller="RoatpOrganisationCriminalComplianceChecks">

                    @{ await Html.RenderPartialAsync("~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalSection.cshtml"); }
                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
</main>
