@using SFA.DAS.AssessorService.Domain.Extensions
@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Gateway.RoepaoPageViewModel

@{
    ViewBag.Title = $"Gateway - {Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/Apply/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml" />
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml" />
            <span class="govuk-caption-xl">
                @Model.Caption
            </span>
            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <div class="govuk-!-margin-bottom-4">
                @if (Model.Ukprn != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        UKPRN: @Model.Ukprn
                    </p>
                }

                @if (Model.ApplyLegalName != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        Legal name: @Model.ApplyLegalName
                    </p>
                }

                @if (Model.ApplicationSubmittedOn != null)
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        Application submitted on: @Model.ApplicationSubmittedOn.ToSfaShortDateString()
                    </p>
                }
            </div>
        </div>
    </div>

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateRoepaoPage" asp-controller="RoatpGatewayRegisterChecks">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="PageId" />
                    <input type="hidden" asp-for="Caption" />
                    <input type="hidden" asp-for="Heading" />
                    <input type="hidden" asp-for="NoSelectionErrorMessage" />
                    <input type="hidden" asp-for="Ukprn" />
                    <input type="hidden" asp-for="ApplicationSubmittedOn" />
                    <input type="hidden" asp-for="SourcesCheckedOn" />
                    <input type="hidden" asp-for="ApplyLegalName" />
                    <partial name="~/Views/Roatp/Apply/Gateway/Pages/_GatewayApprovalSection.cshtml" />
                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
</main>
