@model SFA.DAS.AdminService.Web.ViewModels.CertificateDelete.CertificateAuditDetailsViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Audit details";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-controller="CertificateDelete" asp-action="ConfirmAndSubmit" asp-route-certificateId="@Model.Id" 
   asp-route-IsDeleteConfirmed="@Model.IsDeleteConfirmed" asp-route-reasonForChange="@Model.ReasonForChange"
   asp-route-incidentNumber="@Model.IncidentNumber">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
                Audit details
                <span class="govuk-caption-xl govuk-inset-text" style="display: block;">Certificate number: @Model.CertificateReference</span>
            </h1>

            <form class="audit-details-form js-disable-on-submit" method="post" asp-action="AuditDetails" asp-controller="CertificateDelete">
                @Html.HiddenFor(c => c.StandardCode)
                @Html.HiddenFor(c => c.CertificateReference)
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.IsDeleteConfirmed)

                <div class="character-count govuk-form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-form-group--error"
                     data-module="character-count" data-maxwords="500">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        What’s the reason for deleting this certificate?
                    </label>
                    <span class="govuk-hint" id="with-hint-hint">
                        For example, the apprentice has not completed their end-point assessment.
                    </span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="ReasonForChange"></span>
                    }
                    <textarea id="ReasonForChange" class="govuk-textarea js-character-count" rows="10" name="ReasonForChange" sfa-validation-for="ReasonForChange"
                              sfa-validationerror-class="govuk-textarea--error"
                              asp-for="ReasonForChange" type="text" aria-describedby="with-hint-info with-hint-hint"></textarea>
                </div>

                <div class="govuk-form-group" sfa-validation-for="IncidentNumber" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        What’s the relevant Zendesk ticket number or Servicenow incident number?
                    </label>
                    <p class="govuk-body">If there is not a ticket or incident yet, you must raise one before you delete this certificate.</p>
                    <span class="govuk-hint">For example, 12345, INC012345678 or TASK01234567.</span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="IncidentNumber"></span>
                    }
                    <input class="govuk-input" id="IncidentNumber" name="IncidentNumber" sfa-validation-for="IncidentNumber" sfa-validationerror-class="govuk-input--error"
                           asp-for="IncidentNumber" maxlength="20"/>
                </div>
                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>


