@model SFA.DAS.AdminService.Web.ViewModels.CertificateDelete.CertificateSubmitDeleteViewModel

@{
    ViewData["Title"] = "Are you sure you want to delete this certificate?";
}

<a class="govuk-back-link" asp-controller="Search" asp-action="LearnerDetails" asp-route-stdcode="@Model.StandardCode"
   asp-route-uln="@Model.Uln" asp-route-searchstring="@Model.SearchString" asp-route-reasonForChange="@Model.ReasonForChange"
   asp-route-incidentNumber="@Model.IncidentNumber">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="confirm-delete-form js-disable-on-submit" method="post" asp-action="ConfirmAndSubmit"
                  asp-controller="CertificateDelete"
                  asp-route-certificateId="@Model.Id"
                  asp-route-stdcode="@Model.StandardCode" asp-route-uln="@Model.Uln" asp-route-searchstring="@Model.SearchString" asp-route-reasonForChange="@Model.ReasonForChange"
                  asp-route-incidentNumber="@Model.IncidentNumber">
                @Html.HiddenFor(c => c.StandardCode)
                @Html.HiddenFor(c => c.CertificateReference)
                @Html.HiddenFor(c => c.Id)
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="IsDeleteConfirmed" href="#options_yes"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend id="IsDeleteConfirmed">
                            <h2 class="govuk-heading-l">
                                Are you sure you want to delete @Model.FullName's certificate?
                            </h2>
                        </legend>
                        <span class="govuk-error-message" asp-validation-for="IsDeleteConfirmed"></span>

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="IsDeleteConfirmed" id="options_yes" type="radio" value="True" sfa-validation-for="IsDeleteConfirmed" />
                                <label class="govuk-label govuk-radios__label" for="options_yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="IsDeleteConfirmed" id="options_no" type="radio" value="False"
                                       sfa-validation-for="IsDeleteConfirmed" />
                                <label class="govuk-label govuk-radios__label" for="options_no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>
</main>


