@using SFA.DAS.AdminService.Web.Domain;
@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.ViewModels.Register;

@model RegisterViewAndEditOrganisationViewModel
@{
    ViewBag.Title = "View Organisation";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Register">Return to organisation search</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">Organisation details</span>
            <h1 class="govuk-heading-xl">@Model.Name</h1>

            <div id="organisationWrapper">
                <div class="form-group">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Name
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation ID
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.OrganisationId
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary contact
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PrimaryContactName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Status
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                UKPRN
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Ukprn
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.OrganisationType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Legal Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.LegalName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Trading Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.TradingName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Company number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CompanyNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Charity number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CharityNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Email
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PhoneNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Website
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.WebsiteLink
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">

                                @if (@Model.Address1 != null)
                                {
                                    @Model.Address1<br />
                                }
                                @if (@Model.Address2 != null)
                                {
                                    @Model.Address2<br />
                                }
                                @if (@Model.Address3 != null)
                                {
                                    @Model.Address3<br />
                                }
                                @if (@Model.Address4 != null)
                                {
                                    @Model.Address4<br />
                                }
                                @if (@Model.Postcode != null)
                                {
                                    @Model.Postcode
                                }
                            </dd>
                        </div>
                    </dl>
                </div>

                <div sfa-show-for-roles="@string.Join(",", Roles.CertificationTeam, Roles.AssessmentDeliveryTeam)">
                    <a class="govuk-button" href="/register/edit-organisation/@Model.OrganisationId">Edit</a>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Users</h2>
            <p class="govuk-body">A user has created an account to use the Apprenticeship assessment service.</p>
            @if (Model.Users.Any())
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">
                                        User details
                                    </th>
                                    <th class="govuk-table__header" scope="col">
                                        What they can do
                                    </th>
                                    <th class="govuk-table__header" scope="col">
                                        Status
                                    </th>
                                    <th class="govuk-table__header" scope="col" sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                                        Action required
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body" scope="col">
                                @foreach (var contact in Model.Users)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell das-no-wrap" data-label="User details">
                                            <a class="govuk-link" asp-route="RegisterUserController_Details" asp-route-contactId="@contact.Contact.Id">@Html.DisplayFor(modelItem => contact.Contact.DisplayName)</a>
                                            <br />
                                            <span>@Html.DisplayFor(modelItem => contact.Contact.Email)</span>
                                        </td>
                                        <td class="govuk-table__cell" data-label="What they can do">
                                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                                <li>
                                                    View dashboard
                                                </li>
                                                @foreach (var role in contact.Privileges)
                                                {
                                                    <li> @Html.DisplayFor(modelItem => role.UserPrivilege)</li>
                                                }
                                            </ul>
                                        </td>
                                        <td class="govuk-table__cell" data-label="Status">
                                            @Html.DisplayFor(modelItem => contact.Contact.Status)
                                        </td>
                                        <td class="govuk-table__cell" data-label="Action required" sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                                            @if (contact.Contact.Status == ContactStatus.InvitePending)
                                            {
                                                <a class="govuk-link" asp-route="Register_SetStatusAndNotify" asp-route-status="@ContactStatus.Approve" asp-route-organisationId="@Model.OrganisationId" asp-route-contactId="@contact.Contact.Id">Approve</a>
                                                <a class="govuk-link" asp-route="Register_SetStatusAndNotify" asp-route-status="@ContactStatus.Reject" asp-route-organisationId="@Model.OrganisationId" asp-route-contactId="@contact.Contact.Id">Reject</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="info-summary">
                            <h2 class="govuk-heading-m">There are no users to manage.</h2>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Contacts</h2>
            <p class="govuk-body">A contact has not yet created an account to become a user of the Apprenticeship assessment service.</p>
            <div class="govuk-form-group">
                @if (@Model.Contacts.Count > 0)
                {
                    <table class="govuk-table govuk-table--s das-table--responsive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header">Name</th>
                                <th class="govuk-table__header">Email</th>
                                <th class="govuk-table__header">Phone number</th>
                                <th class="govuk-table__header">Username</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var result in Model.Contacts.OrderBy(x => x.DisplayName))
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" data-label="Name">
                                        <a class="govuk-link" href="/register/view-contact/@result.Id">
                                            @result.DisplayName
                                        </a>
                                    </td>
                                    <td class="govuk-table__cell" data-label="Email">@result.Email</td>
                                    <td class="govuk-table__cell" data-label="Phone number">@result.PhoneNumber</td>
                                    <td class="govuk-table__cell" data-label="Username">
                                        @if (!result.Username.Contains("unknown"))
                                        {
                                            @result.Username
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="govuk-body">There are no contacts.</p>
                }
            </div>
            <p class="govuk-body govuk-!-margin-bottom-6">
                <a class="govuk-link" href="/register/add-contact/@Model.OrganisationId" sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">Add new contact</a>
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Standards</h2>
            @if (@Model.RegisterViewOrganisationStandardsViewModel.HasStandards)
            {
                await Html.RenderPartialAsync("_OrganisationStandardTabsPartial", Model.RegisterViewOrganisationStandardsViewModel);
            }
            else
            {
                <p class="govuk-body">There are no standards.</p>
            }
            <div class="form-group">
                @if (@Model.Contacts.Count > 0 || Model.Users.Count > 0)
                {
                    <p class="govuk-body">
                        @*<a class="govuk-link" href="/register/search-standards/@Model.OrganisationId" sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">Add new standard</a>*@
                    </p>
                }
                else
                {
                    <p class="govuk-body" sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">You can add standards when there are 1 or more contacts or users added to the organisation.</p>
                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <environment include="Development">
        <script src="~/javascripts/das-view-organisation-service.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascripts/das-view-organisation-service.min.js"></script>
    </environment>
}