@{
  ViewBag.Title = "Download the RoATP application report";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Download the RoATP application report</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      @if (!ViewData.ModelState.IsValid)
      {
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                  There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">

                      @* @{
                          var explorer = ViewData.ModelExplorer;
                          foreach (var property in explorer.Properties)
                          {
                              var propertyName = property.Metadata.PropertyName;
                              var state = ViewData.ModelState[propertyName];
                              var errors = state?.Errors ?? null;
                              if (errors != null)
                              {
                                  foreach (var error in errors)
                                  { *@
                                      <li>
                                          @* <a href="#@propertyName">
                                              <span class="govuk-visually-hidden">Error: </span>@error.ErrorMessage *@
                                          <a href="#">
                                              <span class="govuk-visually-hidden">Error: </span>
                                          </a>
                                      </li>
                                  @* }
                              }
                          }
                      } *@
                  </ul>
              </div>
          </div>
      }

      <h1 class="govuk-heading-xl">
        Download the RoATP application report
      </h1>

      <p class="govuk-body">
        You can download a report for all moderated applications. The report includes the:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>application date and reference ID</li>
        <li>UKPRN and whether the organisation is already on the RoATP</li>
        <li>organisation’s legal name</li>
        <li>application route</li>
        <li>outcome from gateway, assessor, financial health and overall moderation</li>
      </ul>

      @* <form id="reportDownloadForm" data-module="das-clear-form-errors" novalidate method="get" action="/download"> *@
      <form method="post" enctype="multipart/form-data" id="reportDownloadForm" data-module="das-clear-form-errors" novalidate method="get" asp-controller="DownloadRoatp" asp-action="ApplicationDownloadCsv">
      
        @* <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.FromDate, "govuk-form-group--error ") @Html.AddClassIfPropertyInError(x => x.ToDate, "govuk-form-group--error ")"> *@
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Report date range
            </legend>
            @* @Html.ValidationMessageFor(m => m.FromDate, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.FromDate) }) *@
            @* @Html.ValidationMessageFor(m => m.ToDate, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.ToDate) }) *@
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label for="FromDate" class="govuk-label js-hidden">
                  Date from
                </label>
                <span id="FromDate-hint" class="govuk-hint js-hidden">For example, 2020-05-15</span>
                <div class="flatpickr--input-group js-flatpickr-from">
                  @* <input asp-for="FromDate" class="govuk-input flatpickr-input js-flatpickr-from-input @Html.AddClassIfPropertyInError(x => x.FromDate, "govuk-input--error ")" type="text" placeholder="From:" autocomplete="off" aria-describedby="FromDate-hint" data-input> *@
                  <input id="FromDate" name="FromDate" class="govuk-input flatpickr-input js-flatpickr-from-input" type="text" placeholder="From:" autocomplete="off" aria-describedby="FromDate-hint" data-input>
                  <a class="flatpickr__input-button" title="toggle" data-toggle>
                    <svg version="1.1" viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="m492 352c11.046 0 20-8.954 20-20v-212c0-44.112-35.888-80-80-80h-26v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-91v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-90v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-25c-44.112 0-80 35.888-80 80v312c0 44.112 35.888 80 80 80h352c44.112 0 80-35.888 80-80 0-11.046-8.954-20-20-20s-20 8.954-20 20c0 22.056-17.944 40-40 40h-352c-22.056 0-40-17.944-40-40v-312c0-22.056 17.944-40 40-40h25v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h90v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h91v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h26c22.056 0 40 17.944 40 40v212c0 11.046 8.954 20 20 20z" />
                      <circle cx="125" cy="210" r="20" />
                      <circle cx="299" cy="210" r="20" />
                      <circle cx="386" cy="210" r="20" />
                      <circle cx="125" cy="297" r="20" />
                      <circle cx="125" cy="384" r="20" />
                      <circle cx="212" cy="210" r="20" />
                      <circle cx="212" cy="297" r="20" />
                      <circle cx="212" cy="384" r="20" />
                      <circle cx="299" cy="297" r="20" />
                      <circle cx="386" cy="297" r="20" />
                      <circle cx="299" cy="384" r="20" />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <label for="ToDate" class="govuk-label js-hidden">
                  Date to
                </label>
                <span id="ToDate-hint" class="govuk-hint js-hidden">For example, 2020-06-25</span>
                <div class="flatpickr--input-group js-flatpickr-to">
                  @* <input asp-for="ToDate" class="govuk-input flatpickr-input js-flatpickr-to-input @Html.AddClassIfPropertyInError(x => x.ToDate, "govuk-input--error ")" type="text" placeholder="To:" autocomplete="off" aria-describedby="ToDate-hint" data-input> *@
                  <input id="ToDate" name="ToDate" class="govuk-input flatpickr-input js-flatpickr-to-input" type="text" placeholder="To:" autocomplete="off" aria-describedby="ToDate-hint" data-input>
                  <a class="flatpickr__input-button" title="toggle" data-toggle>
                    <svg version="1.1" viewBox="0 0 512 512" width="24" height="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="m492 352c11.046 0 20-8.954 20-20v-212c0-44.112-35.888-80-80-80h-26v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-91v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-90v-20c0-11.046-8.954-20-20-20s-20 8.954-20 20v20h-25c-44.112 0-80 35.888-80 80v312c0 44.112 35.888 80 80 80h352c44.112 0 80-35.888 80-80 0-11.046-8.954-20-20-20s-20 8.954-20 20c0 22.056-17.944 40-40 40h-352c-22.056 0-40-17.944-40-40v-312c0-22.056 17.944-40 40-40h25v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h90v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h91v20c0 11.046 8.954 20 20 20s20-8.954 20-20v-20h26c22.056 0 40 17.944 40 40v212c0 11.046 8.954 20 20 20z" />
                      <circle cx="125" cy="210" r="20" />
                      <circle cx="299" cy="210" r="20" />
                      <circle cx="386" cy="210" r="20" />
                      <circle cx="125" cy="297" r="20" />
                      <circle cx="125" cy="384" r="20" />
                      <circle cx="212" cy="210" r="20" />
                      <circle cx="212" cy="297" r="20" />
                      <circle cx="212" cy="384" r="20" />
                      <circle cx="299" cy="297" r="20" />
                      <circle cx="386" cy="297" r="20" />
                      <circle cx="299" cy="384" r="20" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Download report
        </button>

        @ViewBag.Dates
      </form>
    </div>
  </div>
</main>


@section Styles {
    <link rel="stylesheet" href="stylesheets/lib/flatpickr/das-datepicker.css" no-cdn />
}

@section Scripts {
    <script src="javascripts/lib/flatpickr/flatpickr-4.6.6.js" no-cdn></script>
    <script src="javascripts/das-datepicker.js" no-cdn></script>
}