@using SFA.DAS.AssessorService.ApplyTypes
@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.PageViewModel

@{
    ViewBag.Title = @Model.Title ?? "Page not active";
    Layout = "_Layout";
}

<a class="govuk-back-link" href="@Url.Action("Section", "Application", new {applicationId = Model.ApplicationId, sequenceNo = Model.SequenceId, sectionNo = Model.SectionId})">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (Model.Page == null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Page not active</h1>
            </div>
        </div>

    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">@Model.Title</h1>

                @foreach (var pageOfAnswers in Model.Page.DisplayAnswerPages)
                {
                    <table class="govuk-table govuk-table--s">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Question</th>
                                <th class="govuk-table__header" scope="col">Answer</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var answer in pageOfAnswers.DisplayAnswers)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@answer.Label</td>

                                    @if (answer is FileUploadDisplayAnswer)
                                    {
                                        var fuAnswer = answer as FileUploadDisplayAnswer;
                                        <td class="govuk-table__cell">
                                            <a class="govuk-link" href="@Url.Action("DownloadFile", "Application",
                                                new
                                                {
                                                    applicationId = fuAnswer.ApplicationId,
                                                    sequenceId = fuAnswer.SequenceId,
                                                    sectionId = fuAnswer.SectionId,
                                                    pageId = fuAnswer.PageId,
                                                    questionId = fuAnswer.QuestionId,
                                                    filename = fuAnswer.FileName
                                                })">
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell">@answer.Answer()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if (Model.Page.HasFeedback)
                {
                    <h2 class="govuk-heading-l">Feedback</h2>

                    foreach (var feedback in Model.Page.Feedback)
                    {
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">@feedback.From</h3>
                        <p class="govuk-body-s">@feedback.Date.ToShortDateString()</p>
                        <p class="govuk-body">@feedback.Message</p>
                    }

                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
                }
            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                <a href="@Url.Action("Section", "Application", new {applicationId = Model.ApplicationId, sequenceNo = Model.SequenceId, sectionNo = Model.SectionId})" class="govuk-link">Return to section overview</a>
            </p>
        </div>
    </div>
</main>