@using SFA.DAS.AssessorService.Domain.Consts;
@model SFA.DAS.AdminService.Web.ViewModels.Shared.LearnerDetailViewModel;

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Certificate reference
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Learner.CertificateReference
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Apprentice name
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Learner.GivenNames @Model.Learner.FamilyName
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Unique learner number
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Learner.Uln
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Status
        </dt>
        <dd class="govuk-summary-list__value">
            @CertificateStatus.GetDisplayName(Model.Learner.CertificateStatus)
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @CertificateStatus.GetStatusDateDisplayName(Model.Learner.CertificateStatus)
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.CertificateStatusDateValue
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Certificate Receiver
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Learner.CertificateSendTo
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Delivery address
        </dt>
        <dd class="govuk-summary-list__value">
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactName))
            {
                @Model.Learner.ContactName<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactDept))
            {
                @Model.Learner.ContactDept<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactOrganisation))
            {
                @Model.Learner.ContactOrganisation<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactAddLine1))
            {
                @Model.Learner.ContactAddLine1<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactAddLine2))
            {
                @Model.Learner.ContactAddLine2<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactAddLine3))
            {
                @Model.Learner.ContactAddLine3<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactAddLine4))
            {
                @Model.Learner.ContactAddLine4<br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Learner.ContactPostCode))
            {
                @Model.Learner.ContactPostCode
            }
        </dd>
    </div>
</dl>

