@model SFA.DAS.AdminService.Web.ViewModels.Search.FrameworkLearnerReprintReasonViewModel
@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.AssessorService.Domain.Consts

@{
    ViewBag.Title = "Are you sure this certificate needs reprinting";
    Layout = "_Layout";

    bool isFirstResult = true;
    var count = 0;
}

<a asp-action="Certificate" asp-controller="Search" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <h1 class="govuk-heading-l">
                @ViewBag.Title
            </h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Certificate number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.CertificateNumber
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprentice name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApprenticeName
                    </dd>
                </div>
                @if(@Model.HasPreviousReprint)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Status
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date sent to printer
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.DateSentToPrinter
                        </dd>
                    </div>
                }
            </dl>

            <form asp-action="UpdateReprintReason" asp-controller="Search" method="post">

                <div class="govuk-form-group" sfa-validation-for="TicketNumber" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" asp-for="TicketNumber">Enter the ticket reference number</label>
                    <span class="govuk-error-message" asp-validation-for="TicketNumber"></span>
                    <input class="govuk-input" asp-for="TicketNumber" sfa-validation-for="TicketNumber" sfa-validationerror-class="govuk-input--error" id="TicketNumber" />
                </div>

                <div class="govuk-form-group" sfa-validation-for="SelectedReprintReasons" sfa-validationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Reason for requesting a reprint
                        </legend>
                        <div class="govuk-hint govuk-fieldset__hint">
                            Select all that apply
                        </div>
                        <span class="govuk-error-message" asp-validation-for="SelectedReprintReasons"></span>
                        <div class="govuk-checkboxes" data-module="checkboxes">
                            @foreach (var availableReason in Model.AvailableReprintReasons)
                            {
                                var checkboxId = isFirstResult ? "SelectedReprintReasons" : $"SelectedReprintReasons_{count}";
                                isFirstResult = false;
                                var checkboxChecked = Model.SelectedReprintReasons != null && Model.SelectedReprintReasons.Any(x => x == availableReason) ? "checked" : "";

                                @if (availableReason == "Other")
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input"
                                        id=@checkboxId
                                        name="SelectedReprintReasons[]"
                                        type="checkbox"
                                        value="@availableReason"
                                        @checkboxChecked
                                        data-aria-controls="conditional-other" />
                                        <label class="govuk-label govuk-checkboxes__label" for="@checkboxId">
                                            Other
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other">
                                        <div class="govuk-character-count" data-module="character-count" data-maxlength="200">
                                            <div class="govuk-form-group" sfa-validation-for="OtherReason" sfa-validationerror-class="govuk-form-group--error">
                                                <label class="govuk-label" asp-for="OtherReason">
                                                    Give details
                                                </label>
                                                <span class="govuk-error-message" asp-validation-for="OtherReason"></span>
                                                <textarea class="govuk-textarea js-character-count" id="OtherReason" name="OtherReason" asp-for="OtherReason" rows="5" aria-describedby="OtherReason-info">@Model.OtherReason</textarea>
                                                <div id="OtherReason-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                                    You can enter up to 200 characters
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input"
                                        id=@checkboxId
                                        name="SelectedReprintReasons[]"
                                        type="checkbox"
                                        value="@availableReason"
                                        @checkboxChecked />
                                        <label class="govuk-label govuk-checkboxes__label" for="@checkboxId">
                                            @availableReason
                                        </label>
                                    </div>
                                }

                                count++;
                            }
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}