@using SFA.DAS.AdminService.Web.Domain
@using SFA.DAS.AdminService.Web.Extensions.TagHelpers;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authorization;
@inject IHttpContextAccessor HttpContextAccessor;
@model SFA.DAS.AdminService.Web.ViewModels.DashboardViewModel;
@{
    ViewBag.Title = "Staff Dashboard";
}

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Staff dashboard</h1>
            </div>
        </div>

        @{
            var roleTagHelper = new RoleTagHelper(HttpContextAccessor, (IAuthorizationService)HttpContextAccessor.HttpContext.RequestServices.GetService(typeof(IAuthorizationService)));
            var sectionsShown = 0;
        }

        <div class="govuk-grid-row">
            @{
                var assessmentOutcomesAndCertificationsRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(assessmentOutcomesAndCertificationsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@assessmentOutcomesAndCertificationsRoles" id="assessment-outcomes-and-certifications">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Assessment outcomes and certifications
                </h2>
                <p class="govuk-body">Request certificates reprints, check assessment outcomes and status of certficates.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="Search">Search</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var privatelyFundedCertficateApprovalsRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(privatelyFundedCertficateApprovalsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@privatelyFundedCertficateApprovalsRoles" id="privately-funded-certficate-approvals">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Privately funded certficate approvals
                </h2>
                <p class="govuk-body">A table of privately funded certificates with options to approve, send for approval or reject.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="CertificateApprovals" asp-action="New">New</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="CertificateApprovals" asp-action="SentForApproval">Sent for approval</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="CertificateApprovals" asp-action="Approved">Approved</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="CertificateApprovals" asp-action="Rejected">Rejected</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var organisationApplicationsRoles = string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(organisationApplicationsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@organisationApplicationsRoles" id="organisation-applications">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Organisation applications
                </h2>
                <p class="govuk-body">Review and approve new organisation applications, check on progress, send and receive feedback.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="new">New (@Model.OrganisationApplicationsNew)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="in-progress">In Progress (@Model.OrganisationApplicationsInProgress)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="feedback">Feedback (@Model.OrganisationApplicationsHasFeedback)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="approved">Approved (@Model.OrganisationApplicationsApproved)</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var standardApplicationsRoles = string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(standardApplicationsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@standardApplicationsRoles" id="standard-applications">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Standard applications
                </h2>
                <p class="govuk-body">Review and approve new Standard applications, check on progress, send and receive feedback.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="StandardApplication" asp-action="Index" asp-fragment="new">New (@Model.StandardApplicationsNew)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="StandardApplication" asp-action="Index" asp-fragment="in-progress">In Progress (@Model.StandardApplicationsInProgress)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="StandardApplication" asp-action="Index" asp-fragment="feedback">Feedback (@Model.StandardApplicationsHasFeedback)</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="StandardApplication" asp-action="Index" asp-fragment="approved">Approved (@Model.StandardApplicationsApproved)</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var financialHealthAssessmentRoles = string.Join(",", Roles.ProviderRiskAssuranceTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(financialHealthAssessmentRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@financialHealthAssessmentRoles" id="financial-health-assessment">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Financial health assessment
                </h2>
                <p class="govuk-body">Review financial health of an organisation.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="Financial" asp-action="OpenApplications">New</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="Financial" asp-action="RejectedApplications">Rejected</a>
                    </li>
                    <li>
                        <a class="govuk-link" asp-controller="Financial" asp-action="ClosedApplications">Closed</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var registeredEPAOsRoles = string.Join(",", Roles.CertificationTeam, Roles.AssessmentDeliveryTeam, Roles.RegisterViewOnlyTeam);
                if (roleTagHelper.ShowForRoles(registeredEPAOsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@registeredEPAOsRoles" id="registered-epaos">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Registered EPAOs
                </h2>
                <p class="govuk-body">Search, view and edit organisations that are currently live on the Register.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="Register">Search</a>
                    </li>
                    <li sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                        <a class="govuk-link" asp-controller="Register" asp-action="AddOrganisation">Add</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var printScheduleConfigurationRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(printScheduleConfigurationRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@printScheduleConfigurationRoles" id="print-schedule-configurations">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Print schedule configuration
                </h2>
                <p class="govuk-body">Create, delete and view existing print schedules.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="ScheduleConfig">View</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var reportsRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam, Roles.AssessmentDeliveryTeam, Roles.EpaoReportsOnlyTeam);
                if (roleTagHelper.ShowForRoles(reportsRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@reportsRoles" id="reports">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Reports
                </h2>
                <p class="govuk-body">On demand reporting</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="Reports">Reports</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var certificateBatchSearchRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(certificateBatchSearchRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@certificateBatchSearchRoles" id="certificate-batch-search">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Certificate batch search
                </h2>
                <p class="govuk-body">View current batches and search for certificates by batch number.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="BatchSearch">Batch search</a>
                    </li>
                </ul>
            </div>
            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var recordAGradeAPIRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
                if (roleTagHelper.ShowForRoles(recordAGradeAPIRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@recordAGradeAPIRoles" id="record-a-grade-api">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Record a grade API
                </h2>
                <p class="govuk-body">Manage user's access and generate API keys.</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="ExternalApi">Users</a>
                    </li>
                </ul>
            </div>

            @*

            THIS SECTION HAS BEEN REMOVED AS ROATP TEAM HAS NOT APPROVED THE CONTENT ON THIS PAGE - BUT IT REALLY SHOULD MATCH
            THE OTHERS SO THE SECTION BELOW IS CODED AS AN EXAMPLE

            @if (sectionsShown % 2 == 0)
            {
            @:</div>
            @:<div class="govuk-grid-row">
            }
            @{
                var registerOfApprenticeshipTrainingProvidersRoles = Roles.RoatpGatewayTeam;
                if (roleTagHelper.ShowForRoles(registerOfApprenticeshipTrainingProvidersRoles)) { sectionsShown++; }
            }
            <div class="govuk-grid-column-one-half" sfa-show-for-roles="@registerOfApprenticeshipTrainingProvidersRoles" id="register-of-apprenticeship-training-providers">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Register of Apprenticeship Training Providers
                </h2>
                <p class="govuk-body">Search for add and edit Apprenticeship Training Providers</p>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" asp-controller="RoatpHome" asp-action="Index">Search</a>
                    </li>
                </ul>
            </div>*@
        </div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" sfa-show-for-roles="@Roles.RoatpFinancialAssessorTeam" sfa-feature-toggle="@FeatureToggles.EnableRoatpFinancialReview">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" asp-controller="RoatpFinancial" asp-action="OpenApplications">RoATP financial applications</a>
                </h2>
                <p class="govuk-body">Assess applications and view outcomes.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" sfa-show-for-roles="@Roles.RoatpAssessorTeam" sfa-feature-toggle="@FeatureToggles.EnableRoatpAssessorReview">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" asp-controller="RoatpApplication" asp-action="OpenApplications">RoATP applications</a>
                </h2>
                <p class="govuk-body">Assess new applications and view outcomes.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" sfa-show-for-roles="@Roles.RoatpGatewayAssessorTeam" sfa-feature-toggle="@FeatureToggles.EnableRoatpGatewayReview">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" asp-controller="RoatpGateway" asp-action="NewApplications">RoATP applications</a>
                </h2>
                <p class="govuk-body">Assess new applications and view outcomes.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" sfa-show-for-roles="@Roles.RoatpApplicationOversightTeam" sfa-feature-toggle="@FeatureToggles.EnableRoatpGatewayReview">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="#">RoATP applications</a>
                </h2>
                <p class="govuk-body">Assess new applications and view outcomes.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" sfa-show-for-roles="@Roles.RoatpGatewayTeam">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                    <a class="govuk-link" asp-controller="RoatpHome" asp-action="Index">Manage the RoATP</a>
                </h2>
                <p class="govuk-body">Search for add and edit Apprenticeship Training Providers</p>
            </div>
        </div>
    </main>