@using SFA.DAS.AdminService.Web.Domain
@using SFA.DAS.AdminService.Common.Extensions.TagHelpers;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authorization;
@using FeatureToggles = SFA.DAS.AdminService.Web.Domain.FeatureToggles
@inject IHttpContextAccessor HttpContextAccessor;
@model SFA.DAS.AdminService.Web.ViewModels.DashboardViewModel;
@{
    ViewBag.Title = "Staff Dashboard";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row padding-bottom-30">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Staff dashboard</h1>
    </div>
    <div class="govuk-grid-column-full">
        <p class="govuk-body grey-underline">Manage applications to join APAR.</p>
    </div>
</div>

    @{
        var roleTagHelper = new RoleTagHelper(HttpContextAccessor, (IAuthorizationService)HttpContextAccessor.HttpContext.RequestServices.GetService(typeof(IAuthorizationService)));
        var sectionsShown = 0;
    }

    <div class="govuk-grid-row govuk-!-margin-bottom-7">

        <!-- RoATP gateway assessor -->
        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpGatewayAssessorTeam)) { sectionsShown++; }
        }
    <div class="govuk-grid-column-one-half" 
       sfa-show-for-roles="@Roles.RoatpGatewayAssessorTeam"
         id="roatp-gateway-applications">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpGatewayBaseUrl">
                Access the gateway
            </a>
        </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Conduct due diligence and monitor applications.</p>
    </div>
        <!-- /RoATP gateway assessor -->

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpFinancialAssessorTeam)) { sectionsShown++; }
        }
        <!-- RoATP PMO -->
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpFinancialAssessorTeam" id="roatp-financial-applications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpFinanceBaseUrl">
                    Manage financial applications
                </a>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Review new, in progress and approved financial applications.</p>

        </div>
        <!-- /RoATP PMO -->

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        <!-- RoATP assessor -->
        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpAssessorTeam)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpAssessorTeam" id="roatp-assessor-applications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpAssessorBaseUrl">
                    Manage applications
                </a>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Review new, in progress and approved applications.</p>
        </div>
        <!-- /RoATP assessor -->

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        <!-- RoATP oversight -->
        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpApplicationOversightTeam)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpApplicationOversightTeam" id="roatp-application-outcomes">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpOversightBaseUrl">
                    Decide on application outcomes
                </a>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Approve or refuse application outcomes within APAR.</p>
        </div>
        <!-- /RoATP oversight -->

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpGatewayTeam)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpGatewayTeam" id="register-of-apprenticeship-training-providers">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpAdminBaseUrl">
                    Add or search for a provider
                </a>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Search for existing traning providers. Add new providers and UKPRNs to the allow list.</p>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            if (roleTagHelper.ShowForRoles(Roles.RoatpGatewayTeam)) { sectionsShown++; }
        }
    <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpGatewayTeam">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" asp-controller="DownloadRoatp" asp-action="Download">
                Download training provider data
            </a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Review and download a list of training providers.</p>
    </div>

    @if (sectionsShown % 2 == 0)
    {
        @:</div>
        @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
    }

    @{
        if (roleTagHelper.ShowForRoles(Roles.RoatpGatewayTeam)) { sectionsShown++; }
    }
    <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.RoatpGatewayTeam">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" asp-controller="DownloadRoatp" asp-action="ApplicationDownload">
                Download application data
            </a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Review and download application data.</p>
    </div>

    @if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var assessmentOutcomesAndCertificationsRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(assessmentOutcomesAndCertificationsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@assessmentOutcomesAndCertificationsRoles" id="assessment-outcomes-and-certifications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Assessment outcomes and certifications
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Request certificates reprints, check assessment outcomes and status of certificates.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Search">Search</a>
                </li>
            </ul>
        </div>
    
@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var organisationApplicationsRoles = string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(organisationApplicationsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@organisationApplicationsRoles" id="organisation-applications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Organisation applications
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Review and approve new organisation applications, check on progress, send and receive feedback.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="new">New (@Model.OrganisationApplicationsNew)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="in-progress">In progress (@Model.OrganisationApplicationsInProgress)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="feedback">Feedback (@Model.OrganisationApplicationsHasFeedback)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="OrganisationApplication" asp-action="Index" asp-fragment="approved">Approved (@Model.OrganisationApplicationsApproved)</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var standardApplicationsRoles = string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(standardApplicationsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@standardApplicationsRoles" id="standard-applications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Standard applications
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Review and approve new Standard applications, check on progress, send and receive feedback.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="StandardApplication" asp-action="Index" asp-fragment="new">New (@Model.StandardApplicationsNew)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="StandardApplication" asp-action="Index" asp-fragment="in-progress">In progress (@Model.StandardApplicationsInProgress)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="StandardApplication" asp-action="Index" asp-fragment="feedback">Feedback (@Model.StandardApplicationsHasFeedback)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="StandardApplication" asp-action="Index" asp-fragment="approved">Approved (@Model.StandardApplicationsApproved)</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var withdrawalApplicationsRoles = string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(withdrawalApplicationsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@withdrawalApplicationsRoles" id="organisation-withdrawal-applications">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                Withdrawal applications
            </h2>
            <p class="govuk-body">Review and approve withdrawal applications, check on progress, send and receive feedback.</p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" asp-controller="WithdrawalApplication" asp-action="Index" asp-fragment="new">New (@Model.WithdrawalApplicationsNew)</a>
                </li>
                <li>
                    <a class="govuk-link" asp-controller="WithdrawalApplication" asp-action="Index" asp-fragment="in-progress">In progress (@Model.WithdrawalApplicationsInProgress)</a>
                </li>
                <li>
                    <a class="govuk-link" asp-controller="WithdrawalApplication" asp-action="Index" asp-fragment="feedback">Feedback (@Model.WithdrawalApplicationsHasFeedback)</a>
                </li>
                <li>
                    <a class="govuk-link" asp-controller="WithdrawalApplication" asp-action="Index" asp-fragment="approved">Approved (@Model.WithdrawalApplicationsApproved)</a>
                </li>
            </ul>
        </div>
        @if (sectionsShown % 2 == 0)
        {
        @:</div>
        @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
        }
        @{
            var financialHealthAssessmentRoles = string.Join(",", Roles.ProviderRiskAssuranceTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(financialHealthAssessmentRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@financialHealthAssessmentRoles" id="financial-health-assessment">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Financial health assessment
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Review financial health of an organisation.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Financial" asp-action="OpenApplications">New</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Financial" asp-action="RejectedApplications">Rejected</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Financial" asp-action="ClosedApplications">Closed</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var registeredEPAOsRoles = string.Join(",", Roles.CertificationTeam, Roles.AssessmentDeliveryTeam, Roles.RegisterViewOnlyTeam);
            if (roleTagHelper.ShowForRoles(registeredEPAOsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@registeredEPAOsRoles" id="registered-epaos">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Registered EPAOs
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Search, view and edit organisations that are currently live on the Register.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Register">Search organisations</a>
                </li>
                <li sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Register" asp-action="AddOrganisation">Add an organisation</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="MergeOrganisations" asp-action="Index" id="merge-link">Merge organisations</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var printScheduleConfigurationRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(printScheduleConfigurationRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@printScheduleConfigurationRoles" id="print-schedule-configurations">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Print schedule configuration
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Create, delete and view existing print schedules.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="ScheduleConfig">View</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var reportsRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam, Roles.AssessmentDeliveryTeam, Roles.EpaoReportsOnlyTeam);
            if (roleTagHelper.ShowForRoles(reportsRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@reportsRoles" id="reports">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Reports
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">On demand reporting</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="Reports">Reports</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var certificateBatchSearchRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(certificateBatchSearchRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@certificateBatchSearchRoles" id="certificate-batch-search">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Certificate batch search
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">View current batches and search for certificates by batch number.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="BatchSearch">Batch search</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

        @{
            var recordAGradeAPIRoles = string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam);
            if (roleTagHelper.ShowForRoles(recordAGradeAPIRoles)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@recordAGradeAPIRoles" id="record-a-grade-api">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Record a grade API
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Manage user's access and generate API keys.</p>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="ExternalApi">Users</a>
                </li>
            </ul>
        </div>

@if (sectionsShown % 2 == 0)
{
    @:</div>
    @:<div class="govuk-grid-row govuk-!-margin-bottom-7">
}

       @{
            if (roleTagHelper.ShowForRoles(Roles.TribalTeam)) { sectionsShown++; }
        }
        <div class="govuk-grid-column-one-half" sfa-show-for-roles="@Roles.TribalTeam">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Manage the provider description
            </h2>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="@Model.RoatpProviderModerationBaseUrl">
                        Search for an apprenticeship training provider
                    </a>
                </li>
            </ul>
        </div>
     </div>

</main>