@using SFA.DAS.AssessorService.ApplyTypes.Roatp.Apply

@model SFA.DAS.AdminService.Web.ViewModels.Roatp.Financial.RoatpFinancialClarificationViewModel

@{
    ViewBag.Title = "Financial health assessment overview";
    Layout = "_Layout";

    var backAction = FinancialApplicationSelectedGrade.Clarification.Equals(Model.FinancialReviewDetails.SelectedGrade) ? "ClarificationApplications" : "ClosedApplications";

    //var inClarificationMode = FinancialApplicationSelectedGrade.Clarification.Equals(Model.FinancialReviewDetails.SelectedGrade);

}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="@backAction" asp-controller="RoatpFinancial">RoATP assessments</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Financial health evaluation</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="ClarificationResponse"></a></li>
                            <li><a sfa-validation-for="FinancialReviewDetails.SelectedGrade"></a></li>
                            <li><a sfa-validation-for="InadequateComments"></a></li>
                            <li><a sfa-validation-for="OutstandingFinancialDueDate"></a></li>
                            <li><a sfa-validation-for="GoodFinancialDueDate"></a></li>
                            <li><a sfa-validation-for="SatisfactoryFinancialDueDate"></a></li>
                        </ul>
                    </div>
                </div>
            }
            <h1 class="govuk-heading-xl">Financial health assessment overview</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Roatp/Apply/Financial/_OrganisationDetails.cshtml" />
        </div>
    </div>

    @foreach (var section in Model.Sections)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">@Html.Raw(section.LinkTitle)</h2>
            </div>

            @{ var isUploadCss = section.QnAData.Pages.SelectMany(p => p.Questions).Any(q => q.Input.Type == "FileUpload") ? "" : "govuk-!-margin-bottom-9"; }

            @if (section.QnAData.Pages.SelectMany(p => p.Questions).Any(q => q.Input.Type != "FileUpload"))
            {
                <div class="govuk-grid-column-full">
                    <table class="govuk-table @isUploadCss">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Application question</th>
                                <th class="govuk-table__header govuk-table__header--numeric das-no-wrap" scope="col">Applicant's answer</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var pg in section.QnAData.Pages)
                            {
                                foreach (var question in pg.Questions.Where(q => q.Input.Type != "FileUpload"))
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">@Html.Raw(question.Label)</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                            @if (!string.IsNullOrWhiteSpace(question.Input.InputPrefix))
                                            {
                                                <span>@Html.Raw(question.Input.InputPrefix)</span>
                                            }
                                            @Html.Raw(pg.PageOfAnswers.SelectMany(poa => poa.Answers).SingleOrDefault(a => a.QuestionId == question.QuestionId)?.Value)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (section.QnAData.Pages.SelectMany(p => p.Questions).Any(q => q.Input.Type == "FileUpload"))
            {
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body govuk-!-margin-bottom-9">
                        <a class="govuk-link" href="@Url.Action("DownloadFiles", "RoatpFinancial", new { applicationId = section.ApplicationId, sectionId = section.Id })">@Model.GetDownloadFilesLinkText(section.SequenceNo, section.SectionNo)</a>
                    </p>
                </div>
            }

        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Outcome of financial health assessment</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Needs clarification
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Clarification sent on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.FinancialReviewDetails.ClarificationRequestedOn.HasValue)
                        {
                            @Html.Raw(Model.FinancialReviewDetails.ClarificationRequestedOn.Value.ToLongDateString())
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Financial health assessed by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.FinancialReviewDetails.GradedBy
                    </dd>
                </div>
                @if (!string.IsNullOrEmpty(Model.FinancialReviewDetails.Comments))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                                Internal comments
                            </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.FinancialReviewDetails.Comments
                        </dd>
                    </div>
                }
            </dl>


            <form class="js-disable-on-submit" asp-action="SubmitClarification" asp-controller="RoatpFinancial">
                <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
                <input type="hidden" name="OrgId" value="@Model.OrgId" />
                <input type="hidden" name="Comments" value="@Model.ClarificationComments"/>
                <input type="hidden" name="FinancialReviewDetails.ClarificationRequestedOn" value="@Model.FinancialReviewDetails.ClarificationRequestedOn"/>

                @*<input type="hidden" name="FinancialReviewDetails.SelectedGrade" value="@Model.FinancialReviewDetails.SelectedGrade" />*@
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Clarified answer</h2>
                    </div>
                </div>
                <div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ClarificationResponse">
                            Enter clarification response
                        </label>
                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">

                            <span class="govuk-error-message" asp-validation-for="ClarificationResponse"></span>
                            <textarea class="govuk-textarea govuk-js-character-count"
                                      asp-for="ClarificationResponse"
                                      sfa-validation-for="ClarificationResponse"
                                      sfa-validationerror-class="govuk-textarea--error-override"
                                      rows="5"
                                      aria-describedby="ClarificationResponse-info"
                                      maxlength="30000">@Model.ClarificationResponse</textarea>
                        </div>

                        <span id="ClarificationResponse-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 500 words
                        </span>
                    </div>
                </div>

                <span class="govuk-error-message" asp-validation-for="FinancialReviewDetails.SelectedGrade"></span>

                <div id="FinancialReviewDetails.SelectedGrade" class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="outstanding" data-aria-controls="outstanding-conditional" type="radio" name="FinancialReviewDetails.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Outstanding)" @(Model.FinancialReviewDetails.SelectedGrade == FinancialApplicationSelectedGrade.Outstanding ? "checked" : "")>
                        <label class="govuk-label govuk-radios__label" for="outstanding">Outstanding</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="outstanding-conditional">
                        <div class="govuk-form-group">
                            <legend>
                                <span class="govuk-label" for="OutstandingFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>

                            <div class="govuk-date-input" id="OutstandingFinancialDueDate">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="OutstandingFinancialDueDate.Day">Day</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="OutstandingFinancialDueDate.Day" id="OutstandingFinancialDueDate.Day" sfa-validation-for="OutstandingFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.OutstandingFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="OutstandingFinancialDueDate.Month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="OutstandingFinancialDueDate.Month" id="OutstandingFinancialDueDate.Month" sfa-validation-for="OutstandingFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.OutstandingFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="OutstandingFinancialDueDate.Year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" name="OutstandingFinancialDueDate.Year" id="OutstandingFinancialDueDate.Year" sfa-validation-for="OutstandingFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.OutstandingFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-radios__item" data-target="good-more-info">
                        <input class="govuk-radios__input" id="good" data-aria-controls="good-conditional" type="radio" name="FinancialReviewDetails.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Good)" @(Model.FinancialReviewDetails.SelectedGrade == FinancialApplicationSelectedGrade.Good ? "checked" : "")>
                        <label class="govuk-label govuk-radios__label" for="good">Good</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="good-conditional">
                        <div class="govuk-form-group">
                            <legend>
                                <span class="govuk-label" for="GoodFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>

                            <div class="govuk-date-input" id="GoodFinancialDueDate">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="GoodFinancialDueDate.Day">Day</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="GoodFinancialDueDate.Day" id="GoodFinancialDueDate.Day" sfa-validation-for="GoodFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.GoodFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="GoodFinancialDueDate.Month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="GoodFinancialDueDate.Month" id="GoodFinancialDueDate.Month" sfa-validation-for="GoodFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.GoodFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="GoodFinancialDueDate.Year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" name="GoodFinancialDueDate.Year" id="GoodFinancialDueDate.Year" sfa-validation-for="GoodFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.GoodFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="satisfactory" data-aria-controls="satisfactory-conditional" type="radio" name="FinancialReviewDetails.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Satisfactory)" @(Model.FinancialReviewDetails.SelectedGrade == FinancialApplicationSelectedGrade.Satisfactory ? "checked" : "") />
                        <label class="govuk-label govuk-radios__label" for="satisfactory">Satisfactory</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="satisfactory-conditional">
                        <div class="govuk-form-group">
                            <legend>
                                <span class="govuk-label" for="SatisfactoryFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>

                            <div class="govuk-date-input" id="SatisfactoryFinancialDueDate">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="SatisfactoryFinancialDueDate.Day">Day</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="SatisfactoryFinancialDueDate.Day" id="SatisfactoryFinancialDueDate.Day" sfa-validation-for="SatisfactoryFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.SatisfactoryFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="SatisfactoryFinancialDueDate.Month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="SatisfactoryFinancialDueDate.Month" id="SatisfactoryFinancialDueDate.Month" sfa-validation-for="SatisfactoryFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.SatisfactoryFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="SatisfactoryFinancialDueDate.Year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" name="SatisfactoryFinancialDueDate.Year" id="SatisfactoryFinancialDueDate.Year" sfa-validation-for="SatisfactoryFinancialDueDate" sfa-validationerror-class="govuk-input--error" value="@Model.SatisfactoryFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inadequate" data-aria-controls="inadequate-conditional" type="radio" name="FinancialReviewDetails.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Inadequate)" @(Model.FinancialReviewDetails.SelectedGrade == FinancialApplicationSelectedGrade.Inadequate ? "checked" : "") />
                        <label class="govuk-label govuk-radios__label" for="inadequate">Inadequate</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="inadequate-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="InadequateComments">Enter your comments</label>
                            <div class="govuk-character-count" data-module="character-count" data-maxwords="500">
                                <textarea class="govuk-textarea js-character-count" sfa-validation-for="InadequateComments" sfa-validationerror-class="govuk-input--error"
                                          id="InadequateComments"
                                          name="InadequateComments"
                                          rows="4"
                                          aria-describedby="InadequateComments-info">@Model.InadequateComments</textarea>
                                <span id="InadequateComments-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                    You can enter up to 500 words
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="exempt" type="radio" name="FinancialReviewDetails.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Exempt)">
                        <label class="govuk-label govuk-radios__label" for="exempt">Exempt</label>
                    </div>
                </div>




                <button class="govuk-button" type="submit">Save outcome</button>
            </form>

            @*<p class="govuk-body">
            <a class="govuk-link" asp-action="@backAction" asp-controller="RoatpFinancial">Back to RoATP financial applications</a>
        </p>*@
        </div>
    </div>    
</main>