@using SFA.DAS.AssessorService.ApplyTypes.Roatp
@using SFA.DAS.AdminService.Common.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Financial.RoatpFinancialApplicationViewModel

@{
    ViewBag.Title = "Financial health assessment overview";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="ClosedApplications" asp-controller="RoatpFinancial">RoATP assessments</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Financial health evaluation</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Financial health assessment overview</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Roatp/Apply/Financial/_OrganisationDetails.cshtml" />
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Outcome of financial health assessment</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationStatus

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome made date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationClosedOn.ToSfaShortDateString()
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome made by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationClosedBy
                    </dd>
                </div>
                @if (Model.ApplicationStatus == ApplicationStatus.Removed)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Internal Comments
                        </dt>

                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationComments
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            External Comments
                        </dt>

                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationExternalComments
                        </dd>
                    </div>
                }
                else
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Comments
                        </dt>

                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationComments
                        </dd>
                    </div>
                }
            </dl>

            <p class="govuk-body">
                <a class="govuk-link" asp-action="ClosedApplications" asp-controller="RoatpFinancial">Back to RoATP financial applications</a>
            </p>
        </div>
    </div>
</main>