@using SFA.DAS.AssessorService.ApplyTypes.Roatp;
@using SFA.DAS.AdminService.Common.Extensions;

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Financial.RoatpFinancialDashboardViewModel

@{
    ViewBag.Title = "RoATP financial applications";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP assessments</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">RoATP financial applications</span>
                Outcome
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <partial name="_DashboardSearch.cshtml" />

            <div class="govuk-tabs">
                <partial name="_DashboardNavigation.cshtml" />

                <div class="govuk-tabs__panel">
                    @if (@Model.Applications.Items.Any())
                    {
                        <table class="govuk-table govuk-table--s das-table--responsive">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Organisation name</th>
                                    <th class="govuk-table__header" scope="col">UKPRN</th>
                                    <th class="govuk-table__header" scope="col">Provider route</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column column-name="OutcomeMadeDate" column-label="Outcome date" default="true" default-order="Descending" />
                                    </th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column column-name="OutcomeMadeByClosed" column-label="Outcome made by" />
                                    </th>
                                    <th class="govuk-table__header" scope="col">Outcome</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var item in Model.Applications.Items)
                                {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" data-label="Organisation name">
                                        <a class="govuk-link" asp-action="ViewApplication" asp-controller="RoatpFinancial" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                                    </td>
                                    <td class="govuk-table__cell" data-label="UKPRN">
                                        @item.Ukprn
                                    </td>
                                    <td class="govuk-table__cell" data-label="Provider route">
                                        @item.ApplicationRouteShortText
                                    </td>
                                    <td class="govuk-table__cell" data-label="Outcome date">
                                        @item.OutcomeMadeDate.ToSfaShortDateString()
                                    </td>
                                    <td class="govuk-table__cell" data-label="Outcome made by">
                                        @item.OutcomeMadeBy
                                    </td>
                                    @if (item.ApplicationStatus == ApplicationStatus.Withdrawn
                                        || item.ApplicationStatus == ApplicationStatus.Removed)
                                    {
                                        <td class="govuk-table__cell" data-label="Outcome">
                                            @item.ApplicationStatus
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell" data-label="Outcome">
                                            @item.SelectedGrade
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                        @if (Model.Applications.HasPreviousPage || Model.Applications.HasNextPage)
                        {
                            <div class="page-navigation">
                                @if (Model.Applications.HasPreviousPage)
                                {
                                    <a asp-action="ClosedApplications"
                                    asp-controller="RoatpFinancial"
                                    asp-route-page="@(Model.Applications.PageIndex - 1)"
                                    class="govuk-link previous">
                                        <i class="arrow-button icon-left-open">&#xe800;</i>
                                        <span class="description">Previous <span class="hide-mob">page</span></span>
                                        <span class="counter">Page <span class="prevPage">@(Model.Applications.PageIndex - 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                    </a>
                                }

                                @if (Model.Applications.HasNextPage)
                                {
                                    <a asp-action="ClosedApplications"
                                    asp-controller="RoatpFinancial"
                                    asp-route-page="@(Model.Applications.PageIndex + 1)"
                                    class="govuk-link next">
                                        <i class="arrow-button icon-right-open">&#xe801;</i>
                                        <span class="description">Next <span class="hide-mob">page</span></span>
                                        <span class="counter">Page <span class="nextPage">@(Model.Applications.PageIndex + 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                    </a>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p class="govuk-body-l">There are no outcomes at this time.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>