@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.AssessorService.ApplyTypes.Roatp;
@model SFA.DAS.AdminService.Web.ViewModels.Apply.Financial.RoatpFinancialDashboardViewModel

@{
    ViewBag.Title = "RoATP financial applications";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP assessments</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">RoATP financial applications</span>
                Current applications
            </h1>
        </div>
    </div>
    
    @if(Model.Applications.TotalRecordCount > 0)
    {
        <p class="govuk-body">
            <a href="@Url.Action("DownloadOpenApplications", "RoatpFinancial")" class="govuk-link govuk-link--no-visited-state">Download all current applications</a> (CSV)
        </p>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab govuk-tabs__tab--selected" asp-action="OpenApplications" asp-controller="RoatpFinancial">
                            Current applications (@Model.StatusCounts.ApplicationsOpen)
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" asp-action="ClarificationApplications" asp-controller="RoatpFinancial">
                            Clarifications (@Model.StatusCounts.ApplicationsWithClarification)
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" asp-action="ClosedApplications" asp-controller="RoatpFinancial">
                            Outcome (@Model.StatusCounts.ApplicationsClosed)
                        </a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel" id="clarifications">
                    @if (@Model.Applications.Items.Any())
                    {
                        <table class="govuk-table govuk-table--s das-table--responsive">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Organisation name</th>
                                    <th class="govuk-table__header" scope="col">UKPRN</th>
                                    <th class="govuk-table__header" scope="col">Provider route</th>
                                    <th class="govuk-table__header" scope="col">Declared in application</th>
                                    <th class="govuk-table__header" scope="col">Submitted date</th>
                                    <th class="govuk-table__header" scope="col">Gateway pass date</th>
                                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Application status</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var item in Model.Applications.Items)
                                {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" data-label="Organisation name">
                                        <a class="govuk-link" asp-action="ViewApplication" asp-controller="RoatpFinancial" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                                    </td>
                                    <td class="govuk-table__cell" data-label="UKPRN">
                                        @item.Ukprn
                                    </td>
                                    <td class="govuk-table__cell" data-label="Provider route">
                                        @item.ApplicationRouteShortText
                                    </td>
                                    <td class="govuk-table__cell" data-label="Declared in application">
                                        @item.DeclaredInApplication
                                    </td>
                                    <td class="govuk-table__cell" data-label="Submitted date">
                                        @item.SubmittedDate.ToSfaShortDateString()
                                    </td>
                                    <td class="govuk-table__cell" data-label="Gateway pass date">
                                        @item.GatewayOutcomeDate.ToSfaShortDateString()
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Application status">
                                        @{
                                            switch (item.FinancialReviewStatus)
                                            {
                                                case FinancialReviewStatus.New:
                                                    <div class="govuk-tag govuk-tag--startreview das-no-wrap">
                                                        new
                                                    </div>
                                                    break;
                                                case FinancialReviewStatus.InProgress:
                                                    <div class="govuk-tag das-no-wrap">
                                                        in progress
                                                    </div>
                                                    break;
                                                default:
                                                    <text>---</text>
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                        @if (Model.Applications.HasPreviousPage || Model.Applications.HasNextPage)
                        {
                            <div class="page-navigation">
                                @if (Model.Applications.HasPreviousPage)
                                {
                                    <a asp-action="OpenApplications"
                                    asp-controller="RoatpFinancial"
                                    asp-route-page="@(Model.Applications.PageIndex - 1)"
                                    class="govuk-link previous">
                                        <i class="arrow-button icon-left-open">&#xe800;</i>
                                        <span class="description">Previous <span class="hide-mob">page</span></span>
                                        <span class="counter">Page <span class="prevPage">@(Model.Applications.PageIndex - 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                    </a>
                                }

                                @if (Model.Applications.HasNextPage)
                                {
                                    <a asp-action="OpenApplications"
                                    asp-controller="RoatpFinancial"
                                    asp-route-page="@(Model.Applications.PageIndex + 1)"
                                    class="govuk-link next">
                                        <i class="arrow-button icon-right-open">&#xe801;</i>
                                        <span class="description">Next <span class="hide-mob">page</span></span>
                                        <span class="counter">Page <span class="nextPage">@(Model.Applications.PageIndex + 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                    </a>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p class="govuk-body-l">There are no new applications at this time.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>